*{
    margin: 0px;
    padding: 0px;
}

.header{
    width: 100%;
    /* background-color: #2f2f2f; */
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgba(0,0,0,.2);
}

.container{
   
    width: 80%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 15%;
    height: 90px;
    /* background-color: blue; */
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    font-family: segoe UI;
    line-height: 90px;
    color: white;
}

.navigation{
    height: 90px;
    width: 40%;
    /* background-color: green; */
}

.nav-bar{
    display: flex;
    /* background-color: magenta; */
}

.nav-link{
    list-style-type: none;
    color: white;
    height: 90px;
    width: 25%;
    /* background-color: brown; */
    text-align: center;
    line-height: 90px;
    font-family: segoe UI;
    font-size: 17px;
}

/* banner css  */

.banner{
    width: 100%;
    height: 70vh;
    background-color: gray;
    background-image: url('https://images.pexels.com/photos/4159867/pexels-photo-4159867.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-position-y: -400px ;
    background-repeat: no-repeat;
}

.banner-desc{
   
    width: 40%;
    background-color: rgba(0,0,0,.2);
    font-size: 60px;
    font-family: 'Segoe UI';
    display: inline-block;
    margin-top: 250px;
    margin-left: 100px;
    /* text-align: center; */
    font-weight: bold;
    padding: 20px;
    color: white;
}

.btn{
    padding: 20px 60px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: #1365e0;
    color: white;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;

}

.btn:hover{
    background-color: #3e7cd8;
    
}

/* css for places  */

.places{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
}

.places-container{
   
    width: 80%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 40px;
    font-family: 'Segoe UI';
    font-weight: normal;
}

.places-parent{
   
    width: 100%;
    /* background-color: green; */
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.place{
    width: 23%;
    height: 450px;
    /* background-color: yellow; */
    background-size: cover;
    display: flex;
    margin-bottom: 35px;
    overflow: hidden;
}

.place1{
    background-image: url('https://images.pexels.com/photos/2619004/pexels-photo-2619004.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

.place2{
    background-image: url('https://images.pexels.com/photos/3065233/pexels-photo-3065233.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

.place3{
    background-image: url('https://images.pexels.com/photos/4159997/pexels-photo-4159997.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

.place4{
    background-image: url('https://images.pexels.com/photos/5210150/pexels-photo-5210150.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

.padd{
    padding: 20px;
}

.place-desc{
    height: 450px;
    width: 100%;
    background-color: rgba(255,255,255,.6);
    color: #313131;
    transition: .3s;
    cursor: pointer;
    margin-top: 300px;
    
}

.place-desc:hover{
    margin-top: 0px;
}

.place-title{
    font-size: 30px;
    font-family: 'Segoe UI';
}

.places-btn{
    padding: 15px 30px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: #1365e0;
    color: white;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
    margin-top: 20px;

}

.places-text{
    font-family: 'Segoe UI';
    color: black;
    margin-top: 20px;

}

.places-btn:hover{
    background-color: #3e7cd8;
    
}




/* css for mobile  */

@media  (max-width:480px) {

    .header{
        background-color: #2f2f2f;
        position: static;
    }

    .container{
        flex-direction: column;
        width: 95%;
    }

    .logo{
        width: 100%;
        text-align: left;
        height: 70px;
        line-height: 70px;
    }

    .navigation{
        width: 100%;
        height: auto;
        
    }

    .nav-bar{
        /* flex-direction: column; */
        
    }

    .nav-link{
        width: 100%;
        text-align: left;
        height: 70px;
        line-height: 70px;
    }

    .banner{
        height: 50vh;
        background-position-y: 0px;
    }

    .banner-desc{
        width: 95%;
        margin-left: 0px;
        margin-top: 0px;
        font-size: 50px;
        padding: 0px;
        padding:0 10px;
        height: 100%;
    }

    .place{
        width: 100%;
    }

    .place-desc{
        margin-top: 320px;
    }

    .place-title{
        font-size: 25px;
    }

   
}
